#!/usr/bin/env bash
#
# date: 2019/09/03
# usage: change mysql password

ps aux | grep mysqld | grep -v 'grep' &>/dev/null
if [ $? -ne 0 ];then
  systemctl start mysqld
fi

sleep 10

old_password=$(grep "temporary password" /var/log/mysqld.log | awk '{ print $NF }')
new_password="{{ mysql_password }}"
username="{{ mysql_username }}"

mysql --connect-expired-password -uroot -p"${old_password}" -e "alter user root@localhost identified by '${new_password}';"

mysql -uroot -p"${new_password}" -e "grant all privileges on *.* to '${username}'@'localhost' identified by '${new_password}';"